# OS metadata
.DS_Store
*.swp
*~

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node / Frontend
node_modules/
dist/
dist-ssr/
build/
.npm
.pnpm-store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Go / Backend
backend/app
backend/app.exe
*.exe
*.test
*.prof

# PocketBase data
pb_data/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Framework/Language specific
.eslintcache
.stylelintcache
coverage/
.nyc_output/
